$transition-duration: 300ms;
$border-radius: 0.5rem;
$primary-color: white;
$secondary-color: gray;
$hover-color: #3b82f6; // Adjust as needed

.faq_container {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;

  header {
    margin-bottom: 2rem;

    h1 {
      font-size: 40px;
      font-weight: 700;
      color: white;
    }
  }
  .faq-container {
      .faq-item {
        border-radius: $border-radius;
        overflow: hidden;
        // transition: all $transition-duration ease-in-out;
        color:#8b8b8b;
        &.active {
          color: $primary-color;
        //   background-color: $hover-color;
        }
    
        dt {
          font-size: 1.25rem;
          font-weight: bold;
          padding: 1rem;
          cursor: pointer;
          display: flex;
          gap: 8px;
        //   justify-content: space-between;
          align-items: center;
          transition: background-color $transition-duration;
    
          .chevron {
            width: 1.25rem;
            height: 1.25rem;
            transition: transform $transition-duration;
    
            &.rotated {
              transform: rotate(180deg);
            }
          }
        }
    
        dd {
          padding: 0 1rem;
          font-size: 1rem;
          overflow: hidden;
        //   transition: max-height $transition-duration ease-in-out;
          max-height: 0;
    
          &.expanded {
            max-height: 24rem; // Adjust based on content
            padding-bottom: 1rem;
          }
        }
      }

      .faq-question{
       font-style: 24px;
    }
  }
}
