.content_container {
  padding: 48px 24px;
  max-width: 686px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.tipQRViewTweetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
h1.tagline {
  color: var(--white);
  font-family: 'Poppins', serif;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

.tip-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem; // 10 * 0.25rem = 2.5rem
  .input_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 8px;

    button {
      border: 1px solid black;
      position: relative;
      border-radius: 4px;
      background: transparent;
    }
  }
  &__header {
    font-weight: bold;

    .twitter-handle {
      background-color: #1da1f2;
      border-radius: 8px;
      padding: 0.25rem 0.75rem; // py-1 px-3
      font-size: 0.875rem; // text-sm
      color: white;
      width: 90px;
    }
  }

  &__input {
    background-color: #eeeeee;
    width: 100%;
    border-radius: 0.375rem; // rounded-md
    padding: 0.5rem; // p-2
    border: 1px solid #a99e9e;

    &::placeholder {
      color: #999; // Placeholder color, adjust as needed
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    gap: 0.75rem; // gap-3

    .back-button {
      border-radius: 9999px; // rounded-full
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 0.25rem; // Adjust padding as needed
      border-radius: 40px;
    }

    .next-button {
      background-color: #cca119; // Replace with actual color value
      color: black;
      border-radius: 1.5rem; // rounded-3xl
      flex-grow: 1;
      font-weight: bold;

      &:disabled {
        cursor: not-allowed;
        color: #aaaaaa;
        background-color: #dddddd;
      }
    }

    .skip-button {
      color: #cca119; // Replace with actual color value
      border: 1px solid #cca119; // Replace with actual color value
      border-radius: 40px; // rounded-md
      padding: 0.5rem 1rem; // Adjust padding as needed
    }
  }
}

.checkbox-wrapper-18 {
  .round {
    position: relative;

    label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      transition:
        background-color 0.2s,
        border-color 0.2s;

      &:after {
        content: '';
        position: absolute;
        top: 9px;
        left: 8px;
        width: 12px;
        height: 6px;
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        transform: rotate(-45deg);
        opacity: 0;
        transition: opacity 0.2s;
      }
    }

    input[type='checkbox'] {
      visibility: hidden;
      display: none;

      &:checked + label {
        background-color: #66bb6a;
        border-color: #66bb6a;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  h1.tagline {
    font-size: 32px !important;
  }
  .content_container {
    padding: 48px 24px;
  }
  .tip-container {
    width: 100%;
  }
}
